@import "customvariables";
@import "function";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-compass";
@import "../bower_components/fontawesome/scss/fontawesome.scss";



  .navbar {
    background: $main-color;
      margin-bottom: 0;
    .navbar-brand {
      font-weight: bold;
      font-size: 30px;
      color: set-text-color($main-color);
      .navbar-link {
        color: set-text-color($main-color);
      }
    }

    .nav {
        font-size: 2rem;
        color: set-text-color($main-color);
     
      i {
        font-size: 1.5rem;
        color: set-text-color($main-color);
      }
    }
  
  }

  .section{
    .btn{
      background: $main-color;
    }
  }

.showcase {
  background: url(../images/download-background.jpg) no-repeat 0 -300px;

  height: 500px;
  padding: 30px 0;

  .container {
    background-color: set-text-color($main-color);
    opacity: 0.7;
    padding:20px 30px 30px 30px;
    .container {
      .container-jumbotron {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}

.aside {
  background-color: $main-color;
  padding: 30px 0;
  text-align: center;
  color: set-text-color($main-color);
  
    .fa {
      font-size: $icon-size;
    }
}

.container-article {
  background: #e6eBf1;
  padding: 30px 0;
  img {
    width:  100%;
  }
  .card-header {
    background: $main-color;
  }
}

.section {
  padding: 60px 0;
  background: $main-color;
  text-align: center;
  color: set-text-color($main-color);
}

footer {
  padding: 30px 0;
  background: darken($main-color, 10%);
  color:  set-text-color($main-color);
  text-align: center;
  font-size: 20px;
 
}

.title-bar {
  background:  url(../images/download-background.jpg) no-repeat 0 -300px;
  padding-bottom: 10px;
  border-bottom: 4px solid $main-color;
}

.main {
  margin-top: 30px;
  .panel-heading {
    background: $main-color;
    color: set-text-color($main-color);
  }
}

.list-group {
    background: $main-color;  
}